otp_path: "/home/am/.asdf/installs/erlang/28.1/lib"
deps_dirs:
  - "lib/*"
diagnostics:
  enabled:
    - crossref
  enabled:
    - dialyzer
include_dirs:
  - "include"
  - "_build/default/lib"
lenses:
  enabled:
    - ct-run-test
  disabled:
    - show-behaviour-usages
macros:
  - name: ERLANG_LS_DEFINED_WITH_VALUE
    value: 42
  - name: ERLANG_LS_DEFINED_WITHOUT_VALUE
code_reload:
  node: cure@127.0.0.1
providers:
  enabled:
    - signature-help
