.vscode/
src/
tsconfig.json
.gitignore
.gitattributes
*.vsix
node_modules/.bin/
node_modules/**/*.d.ts
node_modules/**/*.map
node_modules/**/test/
node_modules/**/tests/
node_modules/**/__tests__/
node_modules/**/LICENSE
node_modules/**/README*
node_modules/**/CHANGELOG*
